.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #3e8ac484;
  color: #eee;
}
body{
  background-image: url("../img/wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin-top:20px;
  margin-bottom: 40px;
  color: #fff;
}


/*Login */

.login-key{
  margin-bottom: 40px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: auto;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 25px;
  border-radius: 5px !important;
  background-color: #aecdb4c0;
  color: #d8e524;
  
}
.input-group{
  
  max-width: 500px;
}
.labels{
  width: 150px;
}

.no-outline:focus {
  outline: none !important;
  border-color: #aecdb4c0;
  box-shadow: none !important;
}

.btn-primary {
  display: grid;
  max-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #008dca;
  color: white;
  text-align: center;
  cursor: pointer;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2em
}
.btn-primary:hover {
  background-color: #0056b3;
}

.btn-link {
  text-decoration: none;
  color: #007bff;
}

.btn-link:hover {
  text-decoration: underline;
}